.calculator {
  width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.display {
  height: 40px;
  background-color: #fff;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: right;
  font-size: 30px;
  margin-bottom: 15px;
}

.operators {
  display: grid;
  padding: 5px;
  margin: 5px;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 5px;
}

.clearEquals {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 5px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: #333;
  border: 1px solid black;
  border-radius: 0 0 12px 12px;
  cursor: pointer;
}

.numbers {
  display: grid;
  padding: 5px;
  margin: 5px;
  grid-template-columns: repeat(3, 33.33%);
  grid-gap: 5px;
}

button:hover {
  background-color: #444;
}

button:active {
  background-color: #555;
}

@media (max-width: 400px) {
  .calculator {
    width: 100%;
  }
}
